*{margin: 0; padding: 0; outline: 0}
body{
	font-family: arial;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	background: url('images/bg.png');
}

.templete{
	width: 960px;
	margin: 0 auto;
}
.clear{
	overflow: hidden;
}

input[type="text"], input[type="email"], input[type="password"]{
	border: 1px solid #cfc5b6;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 5px;
	width: 300px;
}

input[type="submit"]{
	background: #b7801c;
	border-radius: 5px;
	border: 1px solid #e6af4b;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	padding: 1px 10px;
}

input[type="submit"]:hover{
	background: #fef4e5;
	color: #000;
}
textarea{
	width: 300px;
	height: 110px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #cfc5b6;
}

.headersection{
	height: 80px;
	background: #b7801c;
	color: #fff;
}


.nevsection{
	background: #e6af4b;
}

.nevsection ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nevsection ul li{
	display: block;
	float: left;
}

.nevsection ul li a{

	display: block;
	float: left;
	text-decoration: none;
	padding: 5px 30px;
	margin: 5px;
	font-size: 19px;
	font-weight: bold;
	color: #444;
	border: 1px solid #c48d29;
	border-radius: 5px;
}

.nevsection ul li a:hover{
	background: #c48d29;
	color: #fff;

}
#active{
	background: #c48d29;
	color: #fff;

}

.nevsection p{
	padding-left: 50px;
	font-size: 20px;
	color: #fff;
	padding-top: 5px;
	font-weight: bold;
}

.slidersection{
	margin-bottom: 5px;
	box-shadow: 0px 8px 10px -2px #555;
}

.contantsection{
	background: #fff;
}

.maincontant{
	width: 650px;
	background: #fef4e5;
	float: left;
	margin: 15px;
	padding : 20px;
	margin-left: 0px;
	border: 1px solid;
	margin-top: 0px;
}

.about{

}

.about h2{

	padding: 10px;
    border-bottom: 2px solid #e0d6c7;
    margin-bottom: 10px;
    font-size: 25px;
    color: #ac7511;

}

.about img{
	float: left;
    width: 300px;
    height: 205px;
    background: #fff;
    padding: 5px;
    border: 1px solid #B7801C;
    margin-right: 10px;

}

.about p{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
	text-align: justify;

}

.samepost{

}

.samepost h2{
	padding: 10px;
	border-bottom: 2px solid #e0d6c7;
	margin-bottom: 10px;
	font-size: 25px;
	color: #ac7511;
	
}

.samepost img{

	float: left;
	margin-right: 10px;
	width: 220px;
	background: #fff;
	padding: 5px;
	border: 1px solid #9b999a;
	
}

.samepost p{
	font-size: 16px;
	line-height: 23px;
	text-align: justify;
	
}

.readmore{
	float: right ;
	margin-top: 10px; 
}
.readmore a{
	text-decoration: none;
	padding: 5px 10px;
	background: #fff;
	display: block;
	border: 1px solid #b7801c;
	border-radius: 5px;
	font-size: 17px;
}

.readmore a:hover{

	background: #2F2D2E;
	color: #fff;

}


.sidebar{
	width: 220px;
	background: #fef4e5 no-repeat scroll 0 0;
	float: right;
	margin-top: 0px;
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid;

}

.samesidebar{
	margin-bottom: 10px;
}

.samesidebar h2{
	background: #e6af4b;
	padding: 10px;
	color: #333;
	margin-bottom: 8px;
	border-bottom: 2px solid #555555; 
}

.samesidebar p{
	margin-bottom: 10px;
}

.samesidebar ul{
	padding: 0px;
	margin: 0px;
	list-style: none;

}

.samesidebar ul li{
	border-bottom: 1px dashed #e9c05c;
	font-size: 16px;
	padding: 5px 8px 5px 0px;
	
}
.samesidebar ul li:last-child{
	border-bottom: 0px dashed #e9c05c;
}

.samesidebar ul li a{
	text-decoration: none;
	color: #814a00;
	
}

.samesidebar ul li a:hover{
	color: #DF5c25;
	
}

.footersection{
	height: 90px;
	background: #e6af4b;
	text-align: center;
}

.footersection a{

}

.footermenu{
	margin-top: 25px;
	margin-bottom: 10px;

}
.footermenu ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
}

.footermenu ul li{
	display: inline-block;
}

.footermenu ul li a{
	margin-right: 8px;
	font-size: 18px;
}



.logo{
	width: 380px;
	float: left;
}

.logo h2{
	margin-top: 20px;
	font-size: 32px;
	margin-bottom: 11px;
	text-shadow: 2px 2px 0px #666;
}

.logo p{}

.logo img{
	float: left;
	padding-left: 20px;
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.social{
	width: 290px;
	float: right;
	padding-top: 15px;
}

.social a{}

.social img{
	padding-left: 10px;
	width: 40px;
}

